*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 0;
  min-height: 0;
  height: auto;

  margin: 0;
  padding: 0;
}

html,
body {
  min-width: 320px;
  overflow-x: hidden;
}

html {
  background: #ffffff;
}

body {
  background: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-width: 0;
  min-height: 0;
  height: auto;
}